@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
p{
    text-align: justify;
    text-indent: 3em;
}
h2{
    color: #17abb3;
}
/* Centre page + largeur */
.container{
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* Structure Header / Body / Footer */
header, footer{
    background-color: #17abb3;
    color: white;
    padding: 20px;
    text-align: center;
}
.sections{
    display: flex;
    justify-content: space-between;
}
/* Style "skills" */
.skills{
    width: 30%;
    background-color: #e3e3e3;
    padding: 20px;
    box-sizing: border-box;
}
.skills-list .star {
    display: flex;
}
.skills-list li, .language li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.skills-list{
    list-style: none;
    padding: 0px;
}
ul{
    list-style: none;
    padding: 0;
}
.quality, .interest{
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 10px;
}
.quality li::marker, .interest li::marker{
    color: #17abb3;
}
/* Style "profil" */
.profil{
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}
.title{
    font-weight: bold;
}
.date{
    color: #17abb3;
}
.location{
    font-style: italic;
}
.formation .item, .internship .item, .experience .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}